<div id="container">
  <section>
    <h2>This is the second page</h2>
    <p>It's a test</p>
  </section>
  <section>
    <div id="bg-img"></div>
    <p>This is a block</p>
  </section>
</div>

<style>
  #container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #bg-img {
    padding: 20px;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
  }
</style>
